@import '~antd/dist/antd.css';

.page-header {
  display: flex;
  justify-content: space-between;
}

.page-header__button:not(:last-child) {
  margin-right: 10px;
}

.star-list__item {
  border: 1px solid #f0f0f0;
  background: #fafafa;
  padding: 5px 10px;
}

.star-list__item:not(:last-child) {
  margin-right: 10px;
}